// forward mixins
@forward 'config';
@forward 'function';

@use 'config' as *;

$B: null;

@mixin when($state) {
    @at-root {
        &.#{$state-prefix + $state} {
            @content;
        }
    }
}

// BEM
@mixin b($block) {
    $B: $namespace + $common-separator + $block !global;

    .#{$B} {
        @content;
    }
}
